<!DOCTYPE html>
<html>
  <head>
    <title>Homework3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <nav class="navbar navbar-inverse">
        <div class="box">
        <div class="navbar-header navbar-left">
          <p class="h4" style="color: white;">Bookers</p>
        </div>
          <div class="navbar-header navbar-right">
            <ul class="nav navbar-nav list-inline" >
                  <% if user_signed_in? %>
                    <li class="list-inline-item">
                      <%= link_to ' Home', user_path(current_user.id), class: "glyphicon glyphicon-home"  %>
                    </li>
                    <li class="list-inline-item">
                      <%= link_to ' Users', users_path, class: "glyphicon glyphicon-user" %>
                    </li>
                    <li class="list-inline-item">
                      <%= link_to " Books", books_path, class: "glyphicon glyphicon-book" %>
                    </li>
                    <li class="list-inline-item">
                    <%= link_to " logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %>
                    </li>
                  <% else %>
                    <li class="list-inline-item">
                      <%= link_to " Home", root_path, class: "glyphicon glyphicon-home" %>
                    </li>
                    <li class="list-inline-item">
                      <%= link_to " About", home_about_path, class: "glyphicon glyphicon-link" %>
                    </li>
                    <li class="list-inline-item">
                      <%= link_to " sign up", new_user_registration_path, class: "glyphicon glyphicon-edit" %>
                    </li>
                    <li class="list-inline-item">
                      <%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
                    </li>
                  <% end %>
                </ul>
          </div>
          </div> 
      </nav>  
    </div>
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
      <%= yield %>
    <div class="box">
      <footer class="footer">
        <P class="text-right">CopyRight Infratop.inc</P>
      </footer>
    </div>
   
  </body>
</html>
